body {
    margin: 0;
    direction: rtl;
}


.row.col-12.align-items-center {
    display: flex;
    justify-content: space-between;
    padding: 20px 20px;
}

.row.col-12 {
    padding-top: 20px;
}

.col-lg-6.he1 {
    position: relative;
    display: flex;
}

.col-lg-6.he2 {
    position: relative;
    display: flex;
    justify-content: flex-end;
}

.pic1 {
    width: 150px;
}

.header-wall {
    position: relative;
}

.search-box {
    margin-right: 30px;
    width: 500px;
    height: 45px;
    text-align: right;
    font-weight: bold;
    border-radius: 5px;
    border: 1px solid gray;
    padding: 5px;
}

i.fa.fa-search {
    position: absolute;
    left: 10px;
    top: 15px;
    font-size: 16px;
    color: black;
}



.button-container {
    display: flex;
    gap: 10px;
}

.button {
    padding: 1px 12px;
    height: 50px;
    font-size: 16px;
    background-color: white;
    color: black;
    border: 1px solid gray;
    border-radius: 5px;
    cursor: pointer;
}

.txt-container {
    display: flex;
    gap: 10px;
}

i.fa.fa-envelope {
    padding-left: 8px;
}

i.fa.fa-user-o {
    padding-right: 8px;
}


button.button-nav {
    padding: 5px 10px;
    border: none;
    background-color: white;
    font-weight: bold;
}



.navbar-nav {
    text-align: left;
}

.a-nav {
    color: black;
    text-decoration: none;
    padding: 15px;
}
